table {
    border: solid black;
}

td {
    margin: 0;
    padding: 16, 16;
}

th {
    background-color: #71bb5e;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr.lightYellow {
    background-color: #ffe7a6;
}

#totalScore{
    background-color: #ffce47;
}

input {
    width: 40px;
}

#z10 {
    width: 200px;
    height: 200px;
    position: relative;
    left: 300px;
    bottom: 200px;
    display: none;
}